#RoMM
DB_HOST=romm-db
DB_NAME=romm # Should match MARIADB_DATABASE in mariadb
DB_USER=romm-user # Should match MARIADB_USER in mariadb
DB_PASSWD= # Should match MARIADB_PASSWORD in mariadb
ROMM_AUTH_SECRET_KEY= # Generate a key with `openssl rand -hex 32`
SCREENSCRAPER_USER= # These are the recommended metadata providers
SCREENSCRAPER_PASSWORD= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#screenscraper
RETROACHIEVEMENTS_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#retroachievements
STEAMGRIDDB_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#steamgriddb
HASHEOUS_API_ENABLED=true # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#hasheous
DB_ROOT_PASSWD= # Root password for MariaDB

#Library Path
LIBRARY_PATH=./romm/library