#RoMM
DB_HOST=romm-db
DB_NAME=romm # Should match MARIADB_DATABASE in mariadb
DB_USER=romm-user # Should match MARIADB_USER in mariadb
DB_PASSWD= # Should match MARIADB_PASSWORD in mariadb
ROMM_AUTH_SECRET_KEY= # Generate a key with `openssl rand -hex 32`
SCREENSCRAPER_USER= # These are the recommended metadata providers
SCREENSCRAPER_PASSWORD= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#screenscraper
RETROACHIEVEMENTS_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#retroachievements
STEAMGRIDDB_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#steamgriddb
HASHEOUS_API_ENABLED=true # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#hasheous
PLAYMATCH_API_ENABLED=true # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#playmatch
DB_ROOT_PASSWD= # Root password for MariaDB

# IGDB API Credentials
IGDB_CLIENT_ID= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#igdb
IGDB_CLIENT_SECRET= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#igdb


#Library Pathes

#Apple PATHS
Apple_Mac_PATH=/path/to/your/games/Apple_Mac
Apple_IOS_PATH=/path/to/your/games/Apple_IOS
Apple_Bandai_Pippin_PATH=/path/to/your/games/Apple_Bandai_Pippin
Apple_II_PATH=/path/to/your/games/Apple_II

#Google Paths
Google_Android_PATH=/path/to/your/games/Google_Android

#Microsoft PATHS
Microsoft_DOS_PATH=/path/to/your/games/Microsoft_DOS
Microsoft_Windows_PATH=/path/to/your/games/Microsoft_Windows
Microsoft_XBOX_PATH=/path/to/your/games/Microsoft_XBOX
Microsoft_Xbox_360_PATH=/path/to/your/games/Microsoft_Xbox_360

#Nintendo Paths
Nintendo_Gameboy_PATH=/path/to/your/games/Nintendo_Gameboy
Nintendo_Gameboy_Advance_PATH=/path/to/your/games/Nintendo_Gameboy_Advance
Nintendo_Gameboy_Color_PATH=/path/to/your/games/Nintendo_Gameboy_Color
Nintendo_NES_PATH=/path/to/your/games/Nintendo_NES
Nintendo_N64_PATH=/path/to/your/games/Nintendo_N64
Nintendo_3DS_PATH=/path/to/your/games/Nintendo_3DS
Nintendo_New_3DS_PATH=/path/to/your/games/Nintendo_New_3DS
Nintendo_DS_PATH=/path/to/your/games/Nintendo_DS
Nintendo_GameCube_PATH=/path/to/your/games/Nintendo_GameCube
Nintendo_Pokemon_Mini_PATH=/path/to/your/games/Nintendo_Pokemon_Mini
Nintendo_SNES_PATH=/path/to/your/games/Nintendo_SNES
Nintendo_Switch_PATH=/path/to/your/games/Nintendo_Switch
Nintendo_Virtual_Boy_PATH=/path/to/your/games/Nintendo_Virtual_Boy
Nintendo_Wii_PATH=/path/to/your/games/Nintendo_Wii
Nintendo_Wii_U_PATH=/path/to/your/games/Nintendo_Wii_U

#Sony Paths
Sony_PlayStation_PATH=/path/to/your/games/Sony_PlayStation
Sony_PlayStation_2_PATH=/path/to/your/games/Sony_PlayStation_2
Sony_PlayStation_3_PATH=/path/to/your/games/Sony_PlayStation_3
Sony_PlayStation_4_PATH=/path/to/your/games/Sony_PlayStation_4
Sony_PlayStation_5_PATH=/path/to/your/games/Sony_PlayStation_5
Sony_PlayStation_Portable_PATH=/path/to/your/games/Sony_PlayStation_Portable
Sony_PlayStation_Vita_PATH=/path/to/your/games/Sony_PlayStation_Vita

#SEGA PATHS
SEGA_Dreamcast_PATH=/path/to/your/games/SEGA_Dreamcast
SEGA_Game_Gear_PATH=/path/to/your/games/SEGA_Game_Gear
SEGA_Master_System_PATH=/path/to/your/games/SEGA_Master_System
SEGA_Mega_Drive_PATH=/path/to/your/games/SEGA_Mega_Drive
SEGA_Pico_PATH=/path/to/your/games/SEGA_Pico
SEGA_Saturn_PATH=/path/to/your/games/SEGA_Saturn
SEGA_SG_1000_PATH=/path/to/your/games/SEGA_SG_1000
